
<div class="card-container">
{{#each myRecipes.favorites}}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
    </div>

    <div class="card-body">
      <a href="/all-recipes/{{this._id}}" class="card-link">See recipe</a>
    </div>
  </div>

{{/each}}
</div>