<div class="content-page">


  <h4>My favorite recipes</h4>

  <div class="recipes-container">
    {{#each currentUser.favorites}}        
      <a href="/all-recipes/{{this._id}}" class="card-link">    
        <div class="recipe-card" style="width: 14rem;">
          <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
          <h6>{{this.name}}</h6>
        </div>
      </a>
    {{/each}}
  </div>


</div>






