<div class="content-page">

    {{> back}}

    <h4>Edit your personal details</h4>

        <div class="log-sign-form">


            <form method="POST" action="/my-profile/{{currentUser._id}}/edit">

                <label for="username">Username</label>
                <input id="username" type="text" name="username" value={{currentUser.username}} class="input-signup">

                <label for="email">Email</label>
                <input id="email" type="email" name="email" value={{currentUser.email}} class="input-signup">

            {{!-- <label for="password">Password</label>
            <figcaption>Min 6 characters, containing at least one letter and one number.</figcaption>
            <input id="password" type="password" name="password" placeholder="Enter a new password"> --}}

                <button type="submit" class="btn btn-hover">Submit</button>

            </form>

        </div>

</div>
