<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CosmeticsHack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/all-recipes">All Recipes</a>
        <a class="nav-link" href="/my-profile">Profile</a>
        <a class="nav-link" href="/my-profile/my-favorites">My Favorites</a>
        <a class="nav-link" href="/my-profile/my-recipes">My Recipes</a>
        <a class="nav-link" href="/create-recipe">Create a recipe</a>
    </div>

    <a href="/logout" class="btn btn-sm btn-outline-secondary">Log Out</a>

    </div>
</nav>