

<div class="content-page">

  <h4>Log In</h4>


  <div class="log-sign-form">

    <form method="POST" action="/login">

      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Enter your email" class="input-signup">

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Enter your password" class="input-signup">

      {{#if errorMessage}}
        <div class="error error-signup">{{errorMessage}}</div>
      {{/if}}
      <button type="submit"class="btn btn-hover">Log In</button>

      <a href= "/signup" class="btn btn-hover">No account? Sign up here!</a>

    </form>

  </div>



  


</div>