<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="Select7/select7.js"></script>



     <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>



<div id="sign-up">

  <a href="/"><img src="/images/logo.png" alt="logo" class="logo-signup"></a>

  <form method="POST" action="/signup">

      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Enter a username" class="input-signup">

      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Enter your email" class="input-signup">

      <label for="password">Password</label>
      <figcaption class="password-info">Min 6 characters, containing at least one letter and one number</figcaption>
      <input id="password" type="password" name="password" placeholder="Enter password" class="input-signup">
 
      {{#if errorMessage}}
        <div class="error error-signup">{{errorMessage}}</div>
      {{/if}}

      <button type="submit" class='btn btn-sm btn-outline-secondary sign btn-signup'>Sign Up</button>

      <a href= "/login" class="btn btn-sm btn-outline-secondary sign btn-login">Already have an account? Log in here!</a>

  </form>

</div>

<script src="/javascripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>

</html>
