
<div class="content-page">

  <h4>Sign up</h4>

  <div class="log-sign-form">

    <form method="POST" action="/signup">

      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Enter a username" class="input-signup">

      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Enter your email" class="input-signup">

      <label for="password">Password</label>
      <figcaption class="password-info">Min 6 characters, containing min one letter and one number</figcaption>
      <input id="password" type="password" name="password" placeholder="Enter password" class="input-signup">
 
      {{#if errorMessage}}
        <div class="error error-signup">{{errorMessage}}</div>
      {{/if}}

      <button type="submit" class="btn btn-hover">Sign Up</button>

      <a href= "/login" class="btn btn-hover">Already have an account? Log in here!</a>

  </form>


  </div>

  

</div>

