.content-page {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  */
  font-family: 'Montserrat', sans-serif;
  margin-top: 100px;
  padding: 0;
}

.pdf {
  margin-top: 100px;
  width: 100px;
  height: 100px;
}

header {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #8E6C63;

}

#index-recipes {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}


#header-logo {
  width: 175px;
}

a:hover {
  color: #8E6C63; 
}


form {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* align-items: center; */
}

input {
  margin-bottom: 20px;
}

figcaption {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 10px;
}

label {
  align-self: center;
} 

/* Index */
#index-intro {
  background-image: url('/images/index-img.jpg');
    background-size: 100%;
  color: #8E6C63;
  padding: 10px;
  padding-top: 40px;
  text-align: center;
  height: 250px;
}

/* .index-even {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} */

.card-small {
  width: 50px;
}

#log-sign-bar {
  position: fixed;
  bottom: 0px;
  background-color:#e3ad9f;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.sign-log {
  background-color: #8E6C63;
  padding: 5px 20px;
  color: #fff2e4;
  border:#8E6C63;
}

.sign-log:hover {
  background-color: #8E6C63;
  border-color: #8E6C63;
  color:  #fff2e4;
}



/* to be deleted */
/* .discover {
  background-color:#fff2e4 ;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
} */

h4 {
  align-items: center;
  margin-top: 30px;
  text-align: center;
  color: #e3ad9f;
  display: flex;
}

/* Navbar */
.navbar-class {
  width: 100%;
  margin: 0px;
  padding: 15px;
  background-color: #e3ad9f;
  border: #8E6C63;
}

.nav-text {
  color: #fff2e4;
}

.hamburger {
  border: 1px solid black;
  color: black;
}

/* All recipes */
.color-all {
  background-color: #fff2e4;

}

.h4-all {
  color: #e3ad9f;
  display: flex;
  align-items: center;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: 45px;
  margin: 50px;
}

/* Cards all recipes and other pages */
.card-container {
  display: flex;
  justify-content: space-evenly ;
}

/* Cards all recipes and other pages */


.card {
  margin: 30px;
  width: 18rem;
  color: #8E6C63;
 
}

.card ul {
  line-height: 35px;
  list-style: none;
}

.card-title, .card-text {
  display: flex;
  justify-content: center;
  margin: 8px;
}


.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.fav-btn {
  width: 13rem;
  margin-top: 10px;
  margin-left: 46px;
}

.btn {
  margin-top: 15px ;
  color: #8E6C63;
  background-color: #fff2e4;
  border-color: #8E6C63;
}

#card-btns {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  display: flex;
  align-items: center;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: 'Montserrat', sans-serif;
  width: 50px;
}

#card-btns a {
  width: 13rem;
}


/* Create Recipe */
.discover-create {
  padding-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #8E6C63;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form {
  background: linear-gradient(rgb(227, 218, 219, 0.3), rgb(227, 218, 219, 1) 60%);
  padding: 10px;
  display: flex;
  justify-content: center;
}

.form-label {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  color: #8E6C63;
}

.form-check {
  padding: 5px;
  margin-left: 40px;
}

.cost {
  width: 130px;
}

.form-control {
  font-size: 13px;
  margin: 0;
}

.form-group {
  margin: 0;
}

.mb-3 {
  margin: 0!important ;
}

.create-button {
  margin-bottom: 20px;
  margin-top: 10px!important;
}

.error-create {
  background-color: rgb(227, 218, 219, 1);
  margin: 0;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}

::-webkit-file-upload-button {
  font: inherit;
  background-color: rgb(227, 218, 219, 1);
  border: 1px solid #8E6C63;
}

/* Sign up & Log in */
#sign-up {
  background-image: url('/images/cetteup-d3ci37Gcgxg-unsplash.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-signup {
  margin-bottom: 50px;
  width: 20em;
}

#sign-up h2 {
  margin-bottom: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-signup {
  margin: 20px;
  padding: 5px 50px;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-color: #8E6C63;
}

#sign-up form {
  display: flex;
  align-items: center;
}

#sign-up form label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.input-signup {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
}

.btn-login {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: transparent;
  border-color: #8E6C63;
}

.password-info {
  text-align: center;
  width: 70%;
}

.error-signup {
  margin-top: 15px;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* Media query for laptop */
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  /* Add styles here */

  /* Sign up & Log In */
  .logo-signup {
    margin-top: 30px;
    margin-bottom: 90px;
    width: 29em;
  }

}

/* .recipe-add: hover {
  opacity: 0.5;

} */


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}






#profile-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: 20px;
}


.label-profile-detail {
  background-color: #e4c0b7;
  width: 250px;
  text-align: center;
}


h4 {
  display: flex;
  margin-top: 30px;
  text-align: center;
  color: #e3ad9f;
}


.recipe-fields {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}



.recipe-field-inside {
  display: flex;
  flex-direction: column;

}


.recipe-field-name {
  font-weight: bold ;
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */

.recipe-image {
  width: 200px;
  height: auto;
}
