a {
  color: inherit; /* blue colors for links */
  text-decoration: inherit; /* no underline */
}

.content-page {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  max-height: 60px;
  font-size: 13px;
  /* background: linear-gradient(rgb(227, 218, 219, 0.3), rgb(227, 218, 219, 1) 100%); */
}

.pdf {
  margin-top: 100px;
  width: 100px;
  height: 100px;
}

header {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  background-color: #8E6C63;
  z-index: 1;
}


h4 {
  font-family: 'Grand Hotel', cursive;
  margin-top:14px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  color: #e3ad9f;
}

h6 {
  margin: 12px;
  text-align: center;
  color: #e3ad9f;
  /* font-size: 18px; */
}




#index-recipes {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-bottom: 60px;

}



#header-logo {
  width: 150px;
}

a:hover {
  color: #8E6C63; 
}



form {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* align-items: center; */
}

input {
  margin-bottom: 20px;
}

figcaption {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 10px;
  min-width: 100%;
}

label {
  align-self: center;
} 

/* Index */
#index-intro {
  background-image: url('/images/index-img.jpg');
  background-size: 100%;
  padding: 10px;
  padding-top: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  min-height: 250px;
}





#index-intro > h4, h6 {
  font-weight: bold;
  color: #8E6C63;
  text-shadow: #8e6c634d 1px;
  
}

/* .index-even {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} */

.card-small {
  width: 50px;
}

#log-sign-bar {
  position: fixed;
  bottom: 0px;
  background-color:#e3ad9f;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 2px #e3ab9f41;
}

.sign-log {
  background-color: #8E6C63;
  padding: 5px 20px;
  color: #fff2e4;
  border:#8E6C63;
}

.sign-log:hover {
  background-color: #8E6C63;
  border-color: #8E6C63;
  color:  #fff2e4;
}



/* to be deleted */
/* .discover {
  background-color:#fff2e4 ;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
} */



/* Navbar */

/* .hamburger {
  width: 40px;
  height: 30px;
  align-content: center;
}
*/

.navbar-toggler-icon {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding:3px 0px 0px 0px;
  justify-content: center;
  transform: rotate(90deg);
} 

.navbar-class {
  width: 100%;
  margin: 0px;
  padding: 10px 15px;
  background-color: #e3ad9f;
  border: #8E6C63;
  box-shadow: 0px 2px #e3ab9f41;}

.navbar-nav{
  margin-top: 8px;

}


.nav-link {
  margin: 0px;
  padding: 3px;

}

.nav-text {
  color: #fff2e4;
}

.hamburger {
  border: 1px solid black;
  color: black;
}



.btn {
  font-size: 13px;
  margin: 10px 0px;
  min-width: 80px;
  color: #8E6C63;
  background-color: #fff2e4;
  border-color: #8E6C63;
}



/* All recipes */


/* .h4-all {
  color: #e3ad9f;
  display: flex;
  align-items: center;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* font-size: 45px;
  margin: 50px; */




/* .card {
  margin: 30px;
  width: 18rem;
  color: #8E6C63;
 
} */

/* .card ul {
  line-height: 35px;
  list-style: none;
} */

/* .card-title, .card-text {
  display: flex;
  justify-content: center;
  margin: 8px;
} */


.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .recipes-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */




/* #card-btns {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-family: 'Montserrat', sans-serif;
  width: 50px;
} 
*/


#card-btns a {
  width: 13rem;
}




/* Create Recipe */

#create-recipe-element {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 0px;
  margin-bottom: 20px;
}

.form-check {
  font-size: 12px;
}


.form-label {
  align-self: right;

}


.form-complete-field {
  font-size: 12px;
}

.form-complete-field > option{
background-color: #fff2e4;}






/* 
.form-check-label {
  font-size: 12px;
}



.cost {
  width: 130px;
}


.mb-3 {
  margin: 0!important ;
}

.create-button {
  margin-bottom: 20px;
  margin-top: 10px!important;
} */


.form-check {
  z-index: 0;

}


.error-create {
  background-color: rgb(227, 218, 219, 1);
  margin: 0;
  padding: 20px;
  font-size: 16px;
}

::-webkit-file-upload-button {
  font: inherit;
  background-color: rgb(227, 218, 219, 1);
  border: 1px solid #8E6C63;
}

/* Sign up & Log in */
#sign-up {
  background-image: url('/images/cetteup-d3ci37Gcgxg-unsplash.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-signup {
  margin-bottom: 50px;
  width: 20em;
}

#sign-up h2 {
  margin-bottom: 25px;
}

.btn-signup {
  margin: 20px;
  padding: 5px 50px;
  font-size: 23px;
  border-color: #8E6C63;
}

#sign-up form {
  display: flex;
  align-items: center;
}

#sign-up form label {
  font-size: 20px;
}

.btn-login {
  background-color: transparent;
  border-color: #8E6C63;
}

.password-info {
  text-align: center;
  width: 70%;
}

.error-signup {
  margin-top: 15px;
  }





/* .recipe-add: hover {
  opacity: 0.5;

} */






#profile-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: 20px;
}


.label-profile-detail {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  text-align: center;
}

.perso-details > span{
  font-size: 13px;
  margin-bottom: 10px;
}

/* Recipe details page */

.recipe-fields {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


.recipe-field-inside {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;

  width: 40%;

}

.recipe-field-inside > img {
  width: 50px;
  margin-bottom: 10px;
}


.recipe-field-name {
  font-weight: bold ;
  line-height: 1;
}


#recipe-steps-text {
  margin: 0px 20px;;
  text-align: justify;
  white-space: pre;
  text-align: left;
}


.recipe-img {
  width: 300px;
  height: 200px;
  border-radius: 10%;
  margin-bottom: 15px;
}

/* Comment section */


.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85%;
  margin: 25px;
  border-color: #8E6C63;
  font-size: 14px;
}

.comment-section > h4 {
  margin-bottom: 25px;
}

.comments-list {
  white-space: pre;
  display: inline;
}

.separator-flower {
  margin: 0;
  width: 250px;
  align-self: center;
}

/* .comments-list > hr {
  width: 200px;
} */

.comments-list > p {
  margin: 0px;
}


.comment-field {
  word-break: break-all !important;
  white-space: pre-wrap;
}

.add-comment-field {
  height: 50px;
  border-color: #e3ad9f;
}





/* favorite and my recipes btns */
#profile-bottom-elem {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}



/* hovers */

a:hover {
  font-weight: bold;
  color: #8E6C63; 
}


/* Recipe and recipes container */


.recipes-container {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.recipe-card {
  margin: 10px;
  background-color: #fff2e4;
  align-items: center;
  width: 300px;
}


.recipe-card-img{
  /* position: relative;
  top: 10px;
  left: 10px;
  z-index: 2; */
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 200px;
}


.fav-btn {
  /* position: relative; */
  top: 0px;
  left: 0px;
  margin-bottom: 10px;
  /* z-index: 1; */
  border: none;
  background: transparent;
}


.fav-btn > img {
  width: 30px;
}

.profile-btn {
  font-size: 12px;
  width: 150px;
  height: auto;
}



/* My recipes page */

.my-rec-btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

#my-rec-btns {
  border-color: transparent;
}


.icon-my-rec {
  width: 25px;
}

#my-rec-btns > .btn {
  border-color: transparent;

}

#my-rec-btns > form > button {
  border-color: transparent;
  width: 80px;

}


.log-sign-form {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 10px;
  align-items: center;
}



.input-signup {
  background-color: transparent;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}



/* My comments page */

.my-comments-section {
  display: flex;
  flex-direction: column;

}

.com-details {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff2e4;
  align-items: flex-start;
  width: 320px;
  margin-bottom: 15px;
}

.my-com-img-name {
  float: left;
  display: flex;
  flex-direction: column;
  width: 100px;
}

.my-com-img {
  height: auto;
  width: 100px;
}

.my-com-img-name > h6 {
  font-size: 13px;
}

.comment-all-except-icon > p {
  font-size: 13px;
}



/* Profile page btns */

.profile-del-edit-btns > .btn {
  font-size: 12px;
  width: 100px;
}

.prof-del-btn {
  background-color: #fd7759cc;
  color: white;
}

.ul-nav-bar {
  list-style-type: none;
  margin: 0; 
  margin-left: 15px; 
  padding: 0;
}

/* Up en Back buttons */

.up-btn {
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 5px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  color: #8E6C63;
  background-color: #fff2e4;
  border: 1px solid #8E6C63;
  border-radius: 5px;
}

.up-img {
  width: 25px;
  height: 20px;
  padding: 4px;
}

.back-btn {
  position: fixed; /* Fixed/sticky position */
  top: 70px; /* Place the button at the bottom of the page */
  left: 5px; /* Place the button 30px from the right */
  color: #8E6C63;
  background: url('../images/left-img.png') no-repeat #fff2e4;
  background-size: 10px 15px;
  background-position: center;
  width: 20px;
  height: 25px;
  border: 1px solid #8E6C63;
  border-radius: 5px;
  z-index: 0;
}

/* Media query for laptop */
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  /* Add styles here */

  /* Sign up & Log In */
  .logo-signup {
    margin-top: 30px;
    margin-bottom: 90px;
    width: 29em;
  }

}


/* social media sharing */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}



/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */