
<div id="index-intro" class="index-odd">

    <h1>Welcome to {{title}}</h1>
    <div>On CosmeticsHack, you will find many recipes to create yourself your cosmetics products with natural and organic products.</div>

</div>


<div id="index-recipes" class="index-even">

    <h2>Recipes</h2>
    <div>Add some recipes</div>


</div>



