<div class="content-page">

  <div class="discover">
      <h4>All recipes</h4>

  </div>

  {{!-- Add the filter to search --}}
  
  
  {{!-- <div class="card-container color-all"> --}}

  <div></div>
    {{#each recipe}}

    <div class="card" >

      <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
      <div class="card-body">

        <h5 class="card-title">{{this.name}}</h5>

      </div>
    
      <div class="card-body" id="card-btns">

        <a href="/all-recipes/{{this._id}}" class="card-link btn sign">See recipe</a>
        
        {{!-- Image of star --}}
        <form method="POST" action="/my-recipes/my-favorites/{{this._id}}" >

            <button type="submit" class="card-link btn sign fav-btn">Add to Favorites</button>

        </form>

      </div>

    </div>
    {{/each}}


    
</div>


</div>



