<h2 class="index-header">Create a new recipe</h2>

<div class="edit-form">
  <form method="POST" action="/create-recipe" >
    <div class="form-group">
      <label for="recipeName">Name</label>
      <input name="name" type="text" class="form-control" id="recipeName">
    </div>
    <div class="form-group">
      <label for="">Category</label>
      <input name="" type="text" class="form-control" id="">
    </div>
    <div class="form-group">
      <label for="">Purpose</label>
      <input name="" type="text" class="form-control" id="">
    </div>
    <button type="submit" class="btn btn-primary button">Create</button>
  </form>
</div>